@font-face {
    font-family: 'Bluu Next, serif';
    src: url('../Fonts/BluuNext-Bold.otf') format('truetype');
}
@font-face {
    font-family: 'Bluu Next, serif';
    src: url('../Fonts/BluuNext-Bolditalic.otf') format('truetype');
    font-style: italic;
}

body{
    background: url("../assets/Homepage-Hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1034px) {
    body{
      background-repeat: repeat-y;
    }
}
